.carousel{
    height: 400px !important;
}

#description {
    word-wrap: break-word;
}

#description img {
    max-width: 100%;
}

.Rate {
    color: #1890ff;
}

.carousel-image {
    height: 400px !important;
}